@page "/about"
@inject IApiClient _apiClient

<PageTitle>About</PageTitle>

<div class="row mb-3">
    <label for="version" class="col-sm-2 col-form-label bold-label">Version:</label>
    <div class="col-sm-10">
        @systemInfo.Version
    </div>

    <label for="version" class="col-sm-2 col-form-label bold-label">OS:</label>
    <div class="col-sm-10">
        @systemInfo.OperatingSystem
    </div>

    <label for="version" class="col-sm-2 col-form-label bold-label">OS Version:</label>
    <div class="col-sm-10">
        @systemInfo.OperatingSystemVersion
    </div>

    <label for="version" class="col-sm-2 col-form-label bold-label">RunTime Version:</label>
    <div class="col-sm-10">
        @systemInfo.RunTimeVersion
    </div>
</div>
    

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="@systemInfo.Api">Api</a></li>
        <li class="list-group-item"><a href="@systemInfo.GitHub">Website</a></li>
        <li class="list-group-item"><a href="@systemInfo.Documentation">Documentation</a></li>
        <li class="list-group-item"><a href="@systemInfo.Forums">Forums</a></li>
        <li class="list-group-item"><a href="@systemInfo.Issues">Report an Issue</a></li>
        <li class="list-group-item"><a href="@systemInfo.Donate">Donate</a></li>
    </ul>

@code {
    private SystemInfoGetResponse systemInfo;

    public About() : base()
    {
        systemInfo = new SystemInfoGetResponse();
    }

    protected override async Task OnInitializedAsync()
    {
        systemInfo = await _apiClient.SystemInfoGetAsync();
    }
}
