@page "/"
@implements IDisposable
@inject IApiClient _apiClient
@inject IHxMessengerService _toaster;

<PageTitle>Home</PageTitle>

<h1>Welcome to the Peloton to Garmin UI!</h1>

<div class="row">
	<div class="col-sm-4">
        <div class="card @syncStatusBorderClass mb-3" style="border-width: thick">
            <div class="card-body @syncStatusTextClass">
                <h5 class="card-title">Automatic Syncing</h5>
                <p class="font-weight-bold">@syncStatus.AutoSyncHealthString</p>
                @if (syncStatus.SyncStatus != Common.Database.Status.NotRunning)
                {
                    <p><span class="font-weight-bold">Last Sync: </span><br />@syncStatus.LastSyncTime</p>
                    <p><span class="font-weight-bold">Last Successful Sync: </span><br />@syncStatus.LastSuccessfulSyncTime</p>
                    <p><span class="font-weight-bold">Next Scheduled Sync: </span><br />@syncStatus.NextSyncTime</p>
                }
            </div>
        </div>
    </div>
</div>

@if (syncRunning)
{
	<p><em>Syncing...</em></p>
}
else
{
	if (syncResponse is object)
	{
		if (syncResponse.Errors.Any())
		{
			foreach (var error in syncResponse.Errors)
			{
				<ul>
					<li><em>@error.Message</em></li>
				</ul>
			}
		} else
		{
			<p>Success!</p>
		}
	}

	<button class="btn btn-primary" @onclick="SyncAsync">Sync Now</button>
}


@code {

	private SyncPostResponse? syncResponse;
	private SyncGetResponse syncStatus;
	private SettingsGetResponse settings;
	private bool syncRunning;

	private string ErrorMessage;

	private string syncStatusBorderClass = "border-light";
	private string syncStatusTextClass = "";

	public Index() : base()
	{
		syncStatus = new SyncGetResponse();
		syncResponse = null;

		settings = new SettingsGetResponse();
		syncRunning = false;

		ErrorMessage = string.Empty;

		_toaster?.Clear();
	}

	public void Dispose() => _toaster.Clear();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			var getSettingsTask = _apiClient.SettingsGetAsync();
			await Task.WhenAll(getSettingsTask, LoadSyncStatusAsync());

			settings = await getSettingsTask;
		} catch (Exception e)
		{
			Log.Error("UI - Failed to fetch data for home page.", e);
			_toaster.AddError($"Failed to fetch data from P2G Api - {e.Message} - See logs for details.");
		}
	}

	private async Task LoadSyncStatusAsync()
	{
		try
		{
			syncStatus = await _apiClient.SyncGetAsync();
		} 
		catch (Exception e)
		{
			Log.Error("UI - Failed to fetch Sync status.", e);
			_toaster.AddError($"Failed to fetch Sync status - {e.Message} - See logs for details.");
		}

		switch (syncStatus.SyncStatus)
		{
			case Common.Database.Status.Running:
				syncStatusBorderClass = "border-success";
				break;
			case Common.Database.Status.NotRunning:
				syncStatusBorderClass = "border-secondary";
				syncStatusTextClass = "text-secondary";
				break;
			case Common.Database.Status.Dead:
				syncStatusBorderClass = "border-danger";
				syncStatusTextClass = "text-danger";
				break;
			case Common.Database.Status.UnHealthy:
				syncStatusBorderClass = "border-warning";
				break;
		}
	}

	private async Task SyncAsync()
	{
		try
		{
			syncRunning = true;
			syncResponse = null;
			syncResponse = await _apiClient.SyncPostAsync(new SyncPostRequest() { NumWorkouts = settings.Peloton.NumWorkoutsToDownload });
			ErrorMessage = string.Empty;
		}
		catch (FlurlHttpTimeoutException te){
			_toaster.AddInformation("Long running sync will continue running in the background.");
			Log.Information("UI - Sync timeout reached.", te);
		}
		catch(Exception e)
		{
			_toaster.AddError($"Failed to sync - {e.Message} - See logs for details.");
			Log.Error("UI - Failed to sync.", e);
		}
		finally
		{
			syncRunning = false;
		}
	}
}