@page "/settings"
@inject IApiClient _apiClient

<PageTitle>Settings</PageTitle>
<h1>Settings</h1>
<a href="@configDocumentation">Documentation</a>
<br /><br />

<HxTabPanel InitialActiveTabId="tab0">
	<HxTab Id="tab0" Title="App">
		<Content>
			<EditForm Model="@appSettings">

				<br />
				<HxInputSwitch Label="Automatic Syncing" @bind-Value="appSettings.EnablePolling" />
				<br />
				<HxFormState Enabled="@appSettings.EnablePolling">
					<HxInputNumber Label="Check for new workouts every X (seconds)" TValue="int" @bind-Value="appSettings.PollingIntervalSeconds" />
				</HxFormState>
				<br />
				<HxAccordion CssClass="accordion-flush">
					<HxAccordionItem>
						<HeaderTemplate>Advanced</HeaderTemplate>
						<BodyTemplate>
							<br />
							<HxInputText @bind-Value="appSettings.OutputDirectory" Label="Output Directory" />
						</BodyTemplate>
					</HxAccordionItem>
				</HxAccordion>
				<br />
				<HxSubmit Color="ThemeColor.Primary" OnClick="SaveAppSettings">Save</HxSubmit>

			</EditForm>
		</Content>
	</HxTab>
	<HxTab Id="tab1" Title="Conversion">
		<Content>
			<EditForm Model="@formatSettings">

				<br />
				<HxInputSwitch Label="Convert to FIT" @bind-Value="formatSettings.Fit" />
				<HxInputSwitch Label="Convert to TCX" @bind-Value="formatSettings.Tcx" />
				<HxInputSwitch Label="Convert to JSON" @bind-Value="formatSettings.Json" />
				<br />
				<HxSelect
					Label="Cycling Lap Type"
					Data="@lapTypes"
					Nullable="false"
					NullDataText="Loading info..."
					@bind-Value="formatSettings.Cycling.PreferredLapType" />
				<br />
				<HxSelect
					Label="Running Lap Type"
					Data="@lapTypes"
					Nullable="false"
					NullDataText="Loading info..."
					@bind-Value="formatSettings.Running.PreferredLapType" />
				<br />
				<br />
				<HxAccordion CssClass="accordion-flush">
					<HxAccordionItem>
						<HeaderTemplate>Advanced</HeaderTemplate>
						<BodyTemplate>
							<HxInputText Label="Path to custom deviceInfo.xml file" @bind-Value="formatSettings.DeviceInfoPath" /><br />
							<HxInputSwitch Label="Include Time In HR Zones" @bind-Value="formatSettings.IncludeTimeInHRZones" />
							<HxInputSwitch Label="Include Time in Power Zones" @bind-Value="formatSettings.IncludeTimeInPowerZones" />
							<HxInputSwitch Label="Save a local copy of FIT and TCX files to output dir" @bind-Value="formatSettings.SaveLocalCopy" />
						</BodyTemplate>
					</HxAccordionItem>
				</HxAccordion>
				<br />
				<HxSubmit Color="ThemeColor.Primary" OnClick="SaveFormatSettings">Save</HxSubmit>

			</EditForm>
		</Content>
	</HxTab>
	<HxTab Id="tab2" Title="Peloton">
		<Content>
			<EditForm Model="@pelotonSettings">
				<br />
				<HxInputNumber Label="Default number of workouts to download" TValue="int" @bind-Value="pelotonSettings.NumWorkoutsToDownload" />
				<br />
				<HxInputText @bind-Value="pelotonSettings.Email" Label="Email" Type="InputType.Email" InputMode="InputMode.Email" />
				<br />
				<HxInputText @bind-Value="pelotonSettings.Password" Label="Password" Placeholder="@pelotonPasswordPlaceholderString" Type="InputType.Password" />
				<br />
				<HxMultiSelect 
				   Label="Excluded Workout Types"
				   Data="@workoutTypes"
				   @bind-Value="@selectedWorkoutTypes"
				   EmptyText="- none -"
				   TextSelector="(v) => v.ToString()"
				   GenerateChip=true
				   NullDataText="Loading workout types..." />
				<br />
				<HxSubmit Color="ThemeColor.Primary" OnClick="SavePelotonSettings">Save</HxSubmit>
			</EditForm>
		</Content>
	</HxTab>
	<HxTab Id="tab3" Title="Garmin">
		<Content>
			<EditForm Model="@garminSettings">
				<br />
				<HxInputSwitch Label="Automatically upload to Garmin Connect" @bind-Value="garminSettings.Upload" />
				<br />
				<HxFormState Enabled="@garminSettings.Upload">
					<HxInputText @bind-Value="garminSettings.Email" Label="Email" Type="InputType.Email" InputMode="InputMode.Email" />
					<br />
					<HxInputText @bind-Value="garminSettings.Password" Label="Password" Placeholder="@garminPasswordPlaceholderString" Type="InputType.Password" />
					<br />
					<HxAccordion CssClass="accordion-flush">
						<HxAccordionItem>
							<HeaderTemplate>Advanced</HeaderTemplate>
							<BodyTemplate>
								<br />
								<HxSelect
										Label="Format to Upload"
										Data="@formatTypes"
										Nullable="false"
										NullDataText="Loading info..."
										@bind-Value="garminSettings.FormatToUpload" />
								<br />
								<HxSelect
										Label="Upload Strategy to use"
										Data="@uploadStrategyTypes"
										Nullable="false"
										NullDataText="Loading info..."
										@bind-Value="garminSettings.UploadStrategy" />
							</BodyTemplate>
						</HxAccordionItem>
					</HxAccordion>
					<br />
				</HxFormState>
				<br />
				<HxSubmit Color="ThemeColor.Primary" OnClick="SaveGarminSettings">Save</HxSubmit>
			</EditForm>
		</Content>
	</HxTab>
</HxTabPanel>

@code {

	private static ICollection<PreferredLapType> lapTypes = Enum.GetValues(typeof(PreferredLapType)).Cast<PreferredLapType>().ToList();
	private static ICollection<FileFormat> formatTypes = Enum.GetValues(typeof(FileFormat)).Cast<FileFormat>().ToList();
	private static ICollection<UploadStrategy> uploadStrategyTypes = Enum.GetValues(typeof(UploadStrategy)).Cast<UploadStrategy>().ToList();
	private static ICollection<WorkoutType> workoutTypes = Enum.GetValues(typeof(WorkoutType)).Cast<WorkoutType>().ToList();

	private Common.App appSettings;
	private Format formatSettings;
	private SettingsPelotonGetResponse pelotonSettings;
	private SettingsGarminGetResponse garminSettings;
	private string configDocumentation;

	private string pelotonPasswordPlaceholderString = string.Empty;
	private string garminPasswordPlaceholderString = string.Empty;

	private List<WorkoutType> selectedWorkoutTypes = new List<WorkoutType>();

	public Settings() : base()
	{
		var settings = new SettingsGetResponse();
		appSettings = settings.App;
		formatSettings = settings.Format;
		pelotonSettings = settings.Peloton;
		garminSettings = settings.Garmin;
	}

	protected override Task OnInitializedAsync()
	{
		return LoadDataAsync();
	}

	protected async Task SaveAppSettings()
	{
		appSettings = await _apiClient.SettingsAppPostAsync(appSettings);
	}

	protected async Task SaveFormatSettings() 
	{
		formatSettings = await _apiClient.SettingsFormatPostAsync(formatSettings);
	}

	protected async Task SavePelotonSettings() 
	{
		pelotonSettings.ExcludeWorkoutTypes = selectedWorkoutTypes;
		pelotonSettings = await _apiClient.SettingsPelotonPostAsync(pelotonSettings);
	}

	protected async Task SaveGarminSettings() 
	{
		garminSettings = await _apiClient.SettingsGarminPostAsync(garminSettings);
	}

	private async Task LoadDataAsync()
	{
		var settingsTask = _apiClient.SettingsGetAsync();
		var systemInfoTask = _apiClient.SystemInfoGetAsync();

		await Task.WhenAll(settingsTask, systemInfoTask);

		var settings = await settingsTask;
		var systemInfo = await systemInfoTask;

		configDocumentation = systemInfo.Documentation + "/configuration/json.html";

		appSettings = settings.App;
		formatSettings = settings.Format;
		pelotonSettings = settings.Peloton;
		garminSettings = settings.Garmin;

		pelotonPasswordPlaceholderString = pelotonSettings.IsPasswordSet ? "password is set" : "password is not set";
		garminPasswordPlaceholderString = garminSettings.IsPasswordSet ? "password is set" : "password is not set";

		selectedWorkoutTypes = pelotonSettings.ExcludeWorkoutTypes.ToList();
	}
}
