@page "/sync"
@inject IApiClient _apiClient;

<PageTitle>Sync</PageTitle>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
	<HxAlert Color="ThemeColor.Danger"><HxIcon Icon="@BootstrapIcon.ExclamationTriangleFill" /> @ErrorMessage</HxAlert>
}

@if (!string.IsNullOrEmpty(InfoMessage))
{
	<HxAlert Color="ThemeColor.Secondary"><HxIcon Icon="@BootstrapIcon.InfoCircleFill" /> @InfoMessage</HxAlert>
}

<HxButton OnClick="SyncAsync" Color="ThemeColor.Primary" Enabled="@selectedItems.Any()">
	Sync <span class="badge bg-secondary">@selectedItems.Count()</span>
</HxButton>

<HxGrid TItem="RecentWorkout" MultiSelectionEnabled="true" Responsive="true" DataProvider="LoadDataAsync" @bind-SelectedDataItems="selectedItems" PageSize="PageSize" SelectionEnabled="false">
	<Columns>
		<HxGridColumn TItem="RecentWorkout" HeaderText="Date" ItemTextSelector="@(item => DateTimeOffset.FromUnixTimeSeconds(item.Created_At).LocalDateTime.ToString())" />
		<HxGridColumn TItem="RecentWorkout" HeaderText="Title" ItemTextSelector="@(item => item.Ride.Title ?? item.Name)" />
		<HxGridColumn TItem="RecentWorkout" HeaderText="Status" ItemTextSelector="@(item => item.Status)" />
	</Columns>
</HxGrid>

<HxButton OnClick="SyncAsync" Color="ThemeColor.Primary" Enabled="@selectedItems.Any()">
	Sync <span class="badge bg-secondary">@selectedItems.Count()</span>
</HxButton>

@code {

	private HashSet<RecentWorkout> selectedItems = new();
	private static int PageSize = 25;
	private string ErrorMessage = string.Empty;
	private string InfoMessage = string.Empty;
	private string SuccessMessage = string.Empty;

	public Sync() : base() => ClearMessages();

	private async Task<GridDataProviderResult<RecentWorkout>> LoadDataAsync(GridDataProviderRequest<RecentWorkout> request)
	{
		ClearMessages();

		try 
		{
			var pageIndex = request.StartIndex / PageSize;
			var recentWorkouts = await _apiClient.PelotonWorkoutsGetAsync(new PelotonWorkoutsGetRequest() { PageSize = PageSize, PageIndex = pageIndex});
			return new GridDataProviderResult<RecentWorkout>() { Data = recentWorkouts.Items, TotalCount = recentWorkouts.TotalItems };
		} catch (Exception e)
		{
			ErrorMessage = $"Failed to load Peloton workouts - {e.Message} - See logs for details.";
			Log.Error("UI - Failed to load Peloton workouts.", e);
		}

		return new GridDataProviderResult<RecentWorkout>() { Data = new List<RecentWorkout>(), TotalCount = 0 };
	}

	private async Task SyncAsync()
	{
		ClearMessages();

		try
		{
			var result = await _apiClient.SyncPostAsync(new SyncPostRequest() { WorkoutIds = selectedItems.Select(i => i.Id).ToList() });
			selectedItems.Clear();

			if (result.SyncSuccess)
			{
				SuccessMessage = "Successfully synced selected workouts.";
			} else
			{
				foreach (var error in result.Errors)
				{
					ErrorMessage += error.Message + "\n";
				}

				if (string.IsNullOrEmpty(ErrorMessage))
					ErrorMessage = "An unknown error occurred. Please check logs for more details.";
			}

		} catch(FlurlHttpTimeoutException te)
		{
			InfoMessage = $"Long running sync will continue running in the background.";
			Log.Information("UI - Sync timeout reached.", te);
		}
		catch (Exception e)
		{
			ErrorMessage = $"Failed to sync - {e.Message} - See logs for details.";
			Log.Error("UI - Failed to sync.", e);
		}
	}

	private void ClearMessages()
	{
		ErrorMessage = string.Empty;
		InfoMessage = string.Empty;
		SuccessMessage = string.Empty;
	}
}
