@page "/sync"
@implements IDisposable
@inject IApiClient _apiClient;
@inject IHxMessengerService _toaster;

<PageTitle>Sync</PageTitle>

<HxButton OnClick="SyncAsync" Color="ThemeColor.Primary" Enabled="@selectedItems.Any()">
	Sync <span class="badge bg-secondary">@selectedItems.Count()</span>
</HxButton>

<HxGrid TItem="RecentWorkout" MultiSelectionEnabled="true" Responsive="true" DataProvider="LoadDataAsync" @bind-SelectedDataItems="selectedItems" PageSize="PageSize" SelectionEnabled="false">
	<Columns>
		<HxGridColumn TItem="RecentWorkout" HeaderText="Date" ItemTextSelector="@(item => DateTimeOffset.FromUnixTimeSeconds(item.Created_At).LocalDateTime.ToString())" />
		<HxGridColumn TItem="RecentWorkout" HeaderText="Title" ItemTextSelector="@(item => item.Ride.Title ?? item.Name)" />
		<HxGridColumn TItem="RecentWorkout" HeaderText="Status" ItemTextSelector="@(item => item.Status)" />
	</Columns>
</HxGrid>

<HxButton OnClick="SyncAsync" Color="ThemeColor.Primary" Enabled="@selectedItems.Any()">
	Sync <span class="badge bg-secondary">@selectedItems.Count()</span>
</HxButton>

@code {

	private HashSet<RecentWorkout> selectedItems = new();
	private static int PageSize = 25;

	public Sync() : base() => _toaster?.Clear();
	public void Dispose() => _toaster.Clear();

	private async Task<GridDataProviderResult<RecentWorkout>> LoadDataAsync(GridDataProviderRequest<RecentWorkout> request)
	{
		_toaster.Clear();

		try 
		{
			var pageIndex = request.StartIndex / PageSize;
			var recentWorkouts = await _apiClient.PelotonWorkoutsGetAsync(new PelotonWorkoutsGetRequest() { PageSize = PageSize, PageIndex = pageIndex});
			return new GridDataProviderResult<RecentWorkout>() { Data = recentWorkouts.Items, TotalCount = recentWorkouts.TotalItems };
		} catch (FlurlHttpException e) when (e.StatusCode is StatusCodes.Status400BadRequest)
		{
			var error = await e.GetResponseJsonAsync<ErrorResponse>();
			_toaster.AddError(error.Message);
			Log.Error("UI - Failed to load Peloton workouts.", e);
		} catch (Exception e)
		{
			_toaster.AddError($"Failed to load Peloton workouts - {e.Message} - See logs for details.");
			Log.Error("UI - Failed to load Peloton workouts.", e);
		}

		return new GridDataProviderResult<RecentWorkout>() { Data = new List<RecentWorkout>(), TotalCount = 0 };
	}

	private async Task SyncAsync()
	{
		_toaster.Clear();

		try
		{
			var result = await _apiClient.SyncPostAsync(new SyncPostRequest() { WorkoutIds = selectedItems.Select(i => i.Id).ToList() });
			selectedItems.Clear();

			if (result.SyncSuccess)
			{
				_toaster.AddInformation("Successfully synced selected workouts.");
			} else
			{
				if (result.Errors is null || !result.Errors.Any())
					_toaster.AddError("An unknown error occurred. Please check logs for more details.");

				foreach (var error in result?.Errors)
					_toaster.AddError(error.Message);
			}

		} catch(FlurlHttpTimeoutException te)
		{
			_toaster.AddInformation("Long running sync will continue running in the background.");
			Log.Information("UI - Sync timeout reached.", te);
		} 
		catch (FlurlHttpException e) when (e.StatusCode is StatusCodes.Status400BadRequest)
		{
			var error = await e.GetResponseJsonAsync<ErrorResponse>();
			_toaster.AddError(error.Message);
			Log.Error("UI - Failed to load Peloton workouts.", e);
		}
		catch (Exception e)
		{
			_toaster.AddError($"Failed to sync - {e.Message} - See logs for details.");
			Log.Error("UI - Failed to sync.", e);
		}
	}
}
