@using Common
@using Common.Dto
@model SettingsViewModel
@{
    ViewData["Title"] = "Settings";
    ViewBag.Page = "settings";
}

<h1>@ViewData["Title"]</h1>
<br />

@using (Html.BeginForm())
{

    <p>
        <input type="submit" value="Save" />
    </p>

    <h3>App Config</h3>
    <table class="table">
        <tbody>
            <tr>                
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.App.OutputDirectory):
                    <small id="outputDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.AppOutputDirectory
                    </small>
                </td>
                <td class="custom-file">
                    @Html.EditorFor(model => model.GetResponse.Settings.App.OutputDirectory)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.App.OutputDirectory)
                </td>                
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.App.WorkingDirectory):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.AppWorkingDirectory
                    </small>
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.App.WorkingDirectory)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.App.WorkingDirectory)
                </td> 
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.App.EnablePolling):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.AppEnablePolling
                    </small>
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.App.EnablePolling)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.App.EnablePolling)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.App.PollingIntervalSeconds):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.AppPollingIntervalSeconds
                    </small>
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.App.PollingIntervalSeconds)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.App.PollingIntervalSeconds)
                </td>
            </tr>
        </tbody>
    </table>
    <br />

    <h3>Format Config</h3>
    <table class="table">
        <tbody>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Format.Fit):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.FormatFit
                    </small>
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Format.Fit)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Format.Fit)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Format.Json):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.FormatJson
                    </small>
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Format.Json)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Format.Json)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Format.Tcx):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.FormatTcx
                    </small>
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Format.Tcx)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Format.Tcx)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Format.SaveLocalCopy):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.FormatSaveLocalCopy
                    </small>
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Format.SaveLocalCopy)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Format.SaveLocalCopy)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Format.IncludeTimeInHRZones):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.FormatIncludeTimeInHRZones
                    </small>
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Format.IncludeTimeInHRZones)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Format.IncludeTimeInHRZones)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Format.IncludeTimeInPowerZones):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.FormatIncludeTimeInPowerZones
                    </small>
                    </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Format.IncludeTimeInPowerZones)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Format.IncludeTimeInPowerZones)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Format.DeviceInfoPath):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.FormatDeviceInfoPath
                    </small>
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Format.DeviceInfoPath)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Format.DeviceInfoPath)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Format.Running.PreferredLapType):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.FormatRunningPreferredLapType
                    </small>
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(model => model.GetResponse.Settings.Format.Running.PreferredLapType, Html.GetEnumSelectList<PreferredLapType>())
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Format.Running.PreferredLapType)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Format.Cycling.PreferredLapType):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.FormatCyclingPreferredLapType
                    </small>
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(model => model.GetResponse.Settings.Format.Cycling.PreferredLapType, Html.GetEnumSelectList<PreferredLapType>())
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Format.Cycling.PreferredLapType)
                </td>
            </tr>
        </tbody>
    </table>
    <br />

    <h3>Peloton Config</h3>
    <table class="table">
        <tbody>
            <tr>
                <td class="font-weight-bold editor-label">@Html.LabelFor(model => model.GetResponse.Settings.Peloton.Email):</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Peloton.Email)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Peloton.Email)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">@Html.LabelFor(model => model.GetResponse.Settings.Peloton.Password):</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Peloton.Password)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Peloton.Password)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">@Html.LabelFor(model => model.GetResponse.Settings.Peloton.NumWorkoutsToDownload):</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Peloton.NumWorkoutsToDownload)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Peloton.NumWorkoutsToDownload)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">
                    @Html.LabelFor(model => model.GetResponse.Settings.Peloton.ExcludeWorkoutTypes):
                    <small id="workingDirHelp" class="form-text text-muted">
                        @Model.Copy.Settings.PelotonExcludeWorkoutTypes
                    </small>
                </td>
                <td class="editor-field">
                    @Html.ListBoxFor(model => model.GetResponse.Settings.Peloton.ExcludeWorkoutTypes, new MultiSelectList(Enum.GetNames<FitnessDiscipline>(), Model.GetResponse.Settings.Peloton.ExcludeWorkoutTypes))
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Peloton.ExcludeWorkoutTypes)
                </td>
            </tr>
        </tbody>
    </table>
    <br />

    <h3>Garmin Config</h3>
    <table class="table">
        <tbody>
            <tr>
                <td class="font-weight-bold editor-label">@Html.LabelFor(model => model.GetResponse.Settings.Garmin.Email):</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Garmin.Email)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Garmin.Email)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">@Html.LabelFor(model => model.GetResponse.Settings.Garmin.Password):</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Garmin.Password)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Garmin.Password)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">@Html.LabelFor(model => model.GetResponse.Settings.Garmin.Upload):</td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.GetResponse.Settings.Garmin.Upload)
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Garmin.Upload)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">@Html.LabelFor(model => model.GetResponse.Settings.Garmin.FormatToUpload):</td>
                <td class="editor-field">
                    @Html.DropDownListFor(model => model.GetResponse.Settings.Garmin.FormatToUpload, Html.GetEnumSelectList<FileFormat>())
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Garmin.FormatToUpload)
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold editor-label">@Html.LabelFor(model => model.GetResponse.Settings.Garmin.UploadStrategy):</td>
                <td class="editor-field">
                    @Html.DropDownListFor(model => model.GetResponse.Settings.Garmin.UploadStrategy, Html.GetEnumSelectList<UploadStrategy>())
                    @Html.ValidationMessageFor(model => model.GetResponse.Settings.Garmin.UploadStrategy)
                </td>
            </tr>
        </tbody>
    </table>
    <br />

    <h3>Observability Config</h3>
    <table class="table">
        <tbody>
            <tr>
                <td class="font-weight-bold">Prometheus Enabled:</td>
                <td>@Model.GetResponse.App.Observability.Prometheus.Enabled</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Prometheus Port:</td>
                <td>@Model.GetResponse.App.Observability.Prometheus.Port</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Jaeger Enabled:</td>
                <td>@Model.GetResponse.App.Observability.Jaeger.Enabled</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Jaeger Agent Host:</td>
                <td>@Model.GetResponse.App.Observability.Jaeger.AgentHost</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Jaeger Agent Port:</td>
                <td>@Model.GetResponse.App.Observability.Jaeger.AgentPort</td>
            </tr>
        </tbody>
    </table>
    <br />   

    <p>
        <input type="submit" value="Save" />
    </p>

}

