@model WebUI.Shared.SystemInfoGetResponse

@{
    ViewData["Title"] = "About";
    ViewBag.Page = "about";
}

<h1>@ViewData["Title"]</h1>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Version: @Model.Version</li>
    <li class="list-group-item">Operating System: @Model.OperatingSystem</li>
    <li class="list-group-item">OS Version: @Model.OperatingSystemVersion</li>
    <li class="list-group-item">Runtime Version: @Model.RunTimeVersion</li>
    <li class="list-group-item"><a href="@Model.Api">Api</a></li>
    <li class="list-group-item"><a href="@Model.Website">Website</a></li>
    <li class="list-group-item"><a href="@Model.Documentation]">Documentation</a></li>
    <li class="list-group-item"><a href="@Model.Forums">Forums</a></li>
    <li class="list-group-item"><a href="@Model.Issues">Report an Issue</a></li>
    <li class="list-group-item"><a href="@Model.Donate">Donate</a></li>
</ul>


